{% extends 'layout.html' %}
{% block header %}<h1>Comment</h1>{% endblock %}
{% block content %}
<div class="comment_page_1">
    <div class="comment_page_1_btn">

    </div>
        <div class="commentlist">
            <div id='published'>
                <h5>Published</h5>
                <table>
                    <tbody><tr><th>Course</th>
                    <th>Title</th>
    
            
                
                    </tr><tr>
                        <td>
                            CMT220
                        </td>
                        <td>
                            <a href="/comment-page">Databases and Modelling</a>
                        </td>
                        
            
    
                
                    <tr>
                        <td>
                            CMT219
                        </td>
                        <td>
                            <a href="/comment-page">Algorithms, Data Structures and Programming</a>
                        </td>
            
            
    
                
                    <tr>
                        <td>
                            CMT120
                        </td>
                        <td>
                            <a href="/comment-page">Fundamentals of Programming</a>
                        </td>
                       
            
    
                
                    
        
                      
    
                
            
    
                
                    
    
                
                </tbody></table>
                    

{% endblock content %}